<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="section container">
  <h5 class="grey-text section">Nearby Restaurants</h5>
  <div class="row">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/320/160/food">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Pondok Bebek</p>
        </div>
        <div class="card-action">
          <a href="/restaurant/1">See more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/320/160/food">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Bakso malang</p>
        </div>
        <div class="card-action">
          <a href="/restaurant/2">See more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/320/160/food">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Pondok Bebek Banyak</p>
        </div>
        <div class="card-action">
          <a href="/restaurant/3">See more</a>
        </div>
      </div>
    </div>
  </div>
</div>
  
<%- include('./partials/foot') %>