<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div class="section container">
  <h5 class="grey-text section">Search Result</h5>
  <div class="row">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/320/160/food">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Description here</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/320/160/food">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Description here</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/320/160/food">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Description here</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>
  
<%- include('./partials/foot') %>